body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
}

.white-back-index {
  background-image: url("../img/white-back-index.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.white-back-catalog {
  background-image: url("../img/white-back-catalog.png");
  background-position: top center;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

.button {
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
}

.visually-hidden {
  display: none;
}

.button.gray {
  background-color: #eeeeee;
  color: #000000;
  font-weight: ;
}

.button.green {
  background-color: #00ca74;
}

.button.yellow {
  background-color: #efc84a;
}

.filter fieldset {
  border: none;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #e74246;
}

.button.green:hover,
.button.green:focus,
.button.green:active {
  background-color: #00bc6c;
}

.button.yellow:hover,
.button.yellow:focus,
.button.yellow:active {
  background-color: #eab534;
}

.main-navigation,
.sorting-list {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.sorting-list {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.site-navigation,
.user-navigation,
.project-list,
.social-media-list,
.grid-list,
.feature-list,
.sorting-list,
.templates-list,
.pagination-list {
  list-style: none;
}

.site-navigation a,
.user-navigation a,
.sorting-list a {
  color: #000000;
}

.sorting-list-gray a {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #f87f81;
}

.our-customers-1:hover,
.our-customers-1:focus {
  background-image: url("../img/logo-1-copy.png");
}

.our-customers-2:hover,
.our-customers-2:focus {
  background-image: url("../img/logo-2-copy.png");
}

.our-customers-3:hover,
.our-customers-3:focus {
  background-image: url("../img/logo-3-copy.png");
}

.our-customers-4:hover,
.our-customers-4:focus {
  background-image: url("../img/logo-4-copy.png");
}

.project-item {
  text-align: left;
}

.project-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.main-header.large{
  background-color: #eeeeee;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("../img/grey-back-index.png");
}

.main-header.small{
  background-color: #eeeeee;
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url("../img/grey-back-catalog.png");
}

.main-header h1,
.advantage-heading {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.advantage-heading {
  text-align: left;
}

.advantage-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  color: #283136;
}

.about-us .uppercase {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.about-us caption {
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.write-to-us h2 {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.offer-a-discount .first {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.offer-a-discount .second {
  font-size: 16px;
  line-height: 22px;
  font-weight: regular;
  text-align: left;
  color: #444444;
}

.filter-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.filter p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #283136;
  text-transform: uppercase;
}

.main-grid label,
.main-feature label {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #283136;
}

.white-back {
  width: 360px;
  height: 231px;
  background-image: url("../img/white-back-copy.png");
}

.white-back-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.white-back-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  color: #666666;
}

.grey-round {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grey-round:hover {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e74246;

  display: flex;
  align-items: center;
  justify-content: center;
}

