body {
  margin: 0;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #283136;
}

a {
  text-decoration: none;
}

.visually-hidden {
  display: none;
}

.container {
  width: 1160px;
  margin: 0 auto;

  background-color: #f233dc;
  opacity: 0.4;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border-radius: 5px;

  background-color: #fb565a;
  border: none;
}

.button.gray {
  background-color: #eeeeee;
  color: #000000;
}

.button.gray:hover,
.button.gray:focus {
  background-color: #dfdfdf;
}

.button.gray:active {
  background-color: #d5d5d5;
  color: #959595;
}

.button.gray-current {
  color: #000000;
  background-color: #ffffff;
}

.button.gray-current:hover,
.button.gray-current:focus,
.button.gray-current:active {
  color: #000000;
  background-color: #ffffff;
}

.button.green {
  background-color: #00ca74;
}

.button.yellow {
  background-color: #efc84a;
}

.filter fieldset {
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: #e06366;
}

.button.green:hover,
.button.green:focus {
  background-color: #00bc6c;
}

.button.green:active {
  background-color: #00aa62;
  color: #4dc491;
}

.button.yellow:hover,
.button.yellow:focus {
  background-color: #eab534;
}

.button.yellow:active {
  background-color: #e5a722;
  color: #edc265;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  background-color: #8cf233;
}

.sorting-list a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #b2b2b2;
  text-transform: uppercase;
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: #666666;
}

.sorting-list a:active {
  color: #000000;
}

.sorting-list .icon-down-dir:hover,
.sorting-list .icon-down-dir:focus {
  background-image: url("../img/icon-down-dir-hover.png");
}

.sorting-list .icon-up-dir:hover,
.sorting-list .icon-up-dir:focus {
  background-image: url("../img/icon-up-dir-hover.png");
}

.sorting-list .icon-down-dir:active {
  background-image: url("../img/icon-down-dir-active.png");
}

.sorting-list .icon-up-dir:active {
  background-image: url("../img/icon-up-dir-active.png");
}

.site-navigation,
.project-list,
.slider-item,
.about-us-list,
.our-customers-list,
.social-media-list,
.filter-list,
.sorting-list,
.templates-list,
.pagination-list {
  list-style: none;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 540px;
  margin: 0;
  padding: 0
  margin-top: 4px;

  background-color: #f26f33;
  opacity: 0.7;
}

.site-navigation li:not(:last-child) {
  margin-right: 46px;
}

.user-navigation {
  margin: 0;
  padding: 0
  margin-top: 4px;
  margin-left: auto;
  padding-left: 41px;

  background-color: #3336f2;
  opacity: 0.3;
}

.site-navigation a,
.user-navigation a {
  padding-top: 9px;
  padding-bottom: 9px;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #f87f81;
}

.site-navigation a:active {
  color: #bababa;
}

.site-navigation a:not([href]) {
  border-bottom: 2px solid #fb565a;
}

.our-customers {
  margin-bottom: 80px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.our-customers-list {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 46px 0 37px 0;
}

.our-customers-list li {
  position: relative;
  width: 260px;
  text-align: center;
}

.our-customers-list li:not(:nth-child(4n))::after {
  position: absolute;
  top: 50%;
  right: -20px;

  content: "";
  width: 2px;
  height: 52px;
  margin-top: -30px;

  background-color: #eeeeee;
}

.our-customers-1:hover,
.our-customers-1:focus {
  background-image: url("../img/logo-1-copy.png");
}

.our-customers-1:active {
  background-image: url("../img/logo-1-copy-2.png");
}

.our-customers-2:hover,
.our-customers-2:focus {
  background-image: url("../img/logo-2-copy.png");
}

.our-customers-2:active {
  background-image: url("../img/logo-2-copy-2.png");
}

.our-customers-3:hover,
.our-customers-3:focus {
  background-image: url("../img/logo-3-copy.png");
}

.our-customers-3:active {
  background-image: url("../img/logo-3-copy-2.png");
}

.our-customers-4:hover,
.our-customers-4:focus {
  background-image: url("../img/logo-4-copy.png");
}

.our-customers-4:active {
  background-image: url("../img/logo-4-copy-2.png");
}

.location {
  position: relative;
}

.location-img {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  margin-left: -720px;
}

.write-to-us {
  position: absolute;
  top: 54px;
  left: 50%;
  width: 220px;
  margin-left: -580px;
  padding: 50px;
  padding-bottom: 45px;
  background-color: #ffffff;
}

.write-to-us h2 {
  display: block;
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.write-to-us p {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 18px;
}

.write-to-us .button {
  width: 220px;
  height: 50px;
  padding: 16px 45px;
  margin-top: 19px;
}

.project-item {
  width: 300px;
  margin-right: 100px;
  padding-top: 146px;
}

.project-item:last-child {
  margin-right: 0;
}

.project-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 10px;
}



.main-header {
  padding-top: 51px;
  /*background-color: #eeeeee;*/

  background-color: #f2f233;
  opacity: 0.3;
}

.main-header-logo {
  margin-right: 202px;

  background-color: #33d9f2;
}

.main-header h1,
.advantage-heading {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}

.advantage {
  position: relative;
  margin-bottom: 80px;
  background-color: #eeeeee;

  background-color: #33d9f2;
}

.advantage-heading {
  text-align: left;
}

.advantage-description {
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  color: #283136;
}

.slider-controls {
}

.slider-list {
  margin: 0;
  padding: 0;
}

.slider-item {
  padding-top: 68px;
  padding-right: 0px;
  padding-bottom: 80px;
  padding-left: 0px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  padding-top: 38px;
  margin-bottom: 75px;

  border-top: 2px solid #eeeeee;
}

.about-us-left {
  width: 665px;
}

.about-us-left p:nth-child(1) {
  margin-top: 35px;
  margin-bottom: 33px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  text-transform: inherit;
}

.about-us-left p:nth-child(2) {
  margin-bottom: 39px;
}

.about-us-left p:nth-child(3) {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.about-us-list {
  padding: 0;
  margin: 0;
  padding-top: 24px;
  padding-left: 37px;
}

.about-us-list li {
  position: relative;
  margin-bottom: 23px;
}

.about-us-list li:last-child {
  margin-bottom: 0;
}

.about-us-list li::before {
  position: absolute;
  top: 50%;
  left: -36px;

  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-us-right {
  width: 360px;
}

.about-us-right caption {
  margin: 0;
  margin-bottom: 50px;
  padding-right: 14px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  text-align: right;
}

.about-us-right img {
  margin-bottom: 30px;
}

.about-us-numbers {
  width: 360px;
  border-spacing: 0;
}

.about-us-numbers th {
  padding-right: 15px;
  padding-bottom: 20px;
  font-size: 45px;
  text-align: left;
  color: #000000;
}

.about-us-numbers td {
  padding-top: 10px;
  line-height: 18px;
  vertical-align: middle;
}

.offer-a-discount .offer-first {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-align: left;
  color: #000000;
}

.offer-a-discount .offer-second {
  font-size: 16px;
  line-height: 22px;
  font-weight: regular;
  text-align: left;
  color: #444444;
}

.filter-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.filter p {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #283136;
  text-transform: uppercase;
}

.main-grid label,
.main-feature label {
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: #283136;
}

.white-back {
  width: 360px;
  height: 231px;
  background-image: url("../img/white-back-copy.png");
}

.white-back-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.white-back-description {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  text-align: center;
  color: #666666;
}



.grey-round {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e1e1e1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grey-round:hover,
.grey-round:focus  {
  width: 79px;
  height: 79px;
  border-radius: 50%;
  background-color: #e74246;

  display: flex;
  align-items: center;
  justify-content: center;
}

.grey-round:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.grey-round:active svg {
  opacity: 0.3;
}

.templates-vertical {
  margin: 0;
  width: 360px;
  line-height: 1px;
}

.cart-icon-bg {
  fill: #a6a6a6;
}

.nerds-logo:hover,
.nerds-logo:focus {
  opacity: 0.8;
}

.nerds-logo:active {
  opacity: 0.3;
}

/* ----- Сеточные стили ----- */

/* Вход в аккаунт*/

.project {
  min-height: 506px;
  padding-top: 1px;

  /*background-color: #83ed26;
  opacity: 0.5;*/
}

.project-list {
  display: flex;
  margin: 0;
  padding: 0;

  background-color: #3336f2;
  opacity: 0.9;
}

.project-item-1 {
  /*width: 299px;
  height: 347px;
  margin-right: 100px;*/

  /*background-color: #ed1b0c;*/
}

.project-item-2 {
  /*width: 300px;
  height: 347px;
  margin-right: 100px;
*/
  /*background-color: #5fed0c;*/
}

.project-item-3 {
  /*width: 300px;
  height: 347px;*/


  /*background-color: #0caded;*/
}

.social-media {
  display: flex;
  margin-bottom: 70px;
  margin-top: 61px;
}

.social-media-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 260px;
  margin-right: 140px;
}

.offer-a-discount .first {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.offer-a-discount .second {
  margin: 0;
  margin-top: 5px;
  color: #444444;
  line-height: 22px;
}
