/* ----- Сеточные стили ----- */

html,
body {
  width: 1440px;
  height: 2476px;
}

body {
  /* Временно для сетки */
  background-image: url("../img/nerds-index-grid.jpg");
  background-repeat: no-repeat;
}
